
@import "./reset.scss";
@import "./header.scss";
@import "./home.scss";

.container {
  height: 100%;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}