
// primary font
$primaryFontFamily: 'Comfortaa', sans-serif;


// font colors
$primaryFontColor: #fff;

// background colors
$headerBgColor: #648ebd;
$homeBgColor: linear-gradient(180deg, #648ebd 0%, #415a77 60%, #313f6a 99%);
